<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510431822627-25h0olv2l6bikbvsafm5riro37nj8et3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510431822627-25h0olv2l6bikbvsafm5riro37nj8et3</string>
	<key>API_KEY</key>
	<string>AIzaSyBPiH3QIGjlX2JxLahJRHb9PTbrQBfor8c</string>
	<key>GCM_SENDER_ID</key>
	<string>510431822627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitchat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-752e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-752e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510431822627:ios:e6dd0f37230e47dfaa0296</string>
</dict>
</plist>